     {{-- Keterangan Siswa --}}
     <div class=" row">
         <div class="col-md-12 ">
             <div class="card card-light">
                 <div class="card-header">
                     <h3 class="card-title">KETERANGAN SISWA</h3>
                     <div class="card-tools">
                         <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                 class="fas fa-minus"></i>
                         </button>
                     </div>
                     <!-- /.card-tools -->
                 </div>
                 <!-- /.card-header -->
                 <div class="card-body">
                     <table>
                         <tr>
                             <td class="pr-5 " style="font-weight: bold; ">
                                 Nomor Pendaftaran
                             </td>
                             <td class="pl-5 "> : </td>
                             <td class="pl-5 "> 12345678 </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Nomor Induk Siswa
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Nama Lengkap
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Jenis Kelamin
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 NISN
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Tempat, Tanggal Lahir
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Agama
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Kewarganegaraan
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Suku
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Anak ke
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> 3 dari 5 bersaudara </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Status Siswa
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... </td>
                         </tr>
                         {{-- Riwayat beasiswa --}}
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Riwayat Beasiswa
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"></td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; "> </td>
                             <td class="pl-5 pt-2"> </td>
                             <td class="pl-5 pt-2">
                                 <table class="table table-striped">
                                     <thead>
                                         <tr>
                                             <th scope="col">No</th>
                                             <th scope="col">Jenis Beasiswa</th>
                                             <th scope="col">Penyelenggara/Sumber/Pemberi
                                                 Beasiswa</th>
                                             <th scope="col">Tanggal Masuk</th>
                                             <th scope="col">Tanggal Selesai</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                         <tr>
                                             <th scope="row">1</th>
                                             <td>Mark</td>
                                             <td>Otto</td>
                                             <td>ddmmyyyy</td>
                                             <td>ddmmyyyy</td>
                                         </tr>
                                     </tbody>
                                 </table>
                             </td>
                         </tr>
                         {{-- Catatan prestasi --}}
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Catatan Prestasi
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"></td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; "> </td>
                             <td class="pl-5 pt-2"> </td>
                             <td class="pl-5 pt-2">
                                 <table class="table table-striped">
                                     <thead>
                                         <tr>
                                             <th scope="col">No</th>
                                             <th scope="col">Tahun</th>
                                             <th scope="col">Lomba</th>
                                             <th scope="col">Juara</th>
                                             <th scope="col">Jenis</th>
                                             <th scope="col">Tingkat</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                         <tr>
                                             <th scope="row">1</th>
                                             <td>Mark</td>
                                             <td>Otto</td>
                                             <td>ddmmyyyy</td>
                                             <td>ddmmyyyy</td>
                                             <td>Mark</td>
                                         </tr>
                                     </tbody>
                                 </table>
                             </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Jenis Tinggal
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Jarak Ke Sekolah
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... km</td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Alat Transportasi Ke Sekolah
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Golongan Darah
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Tinggi
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... cm</td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Berat
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... kg</td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Kelainan Jasmani
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ... km</td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Pendidikan Sebelumnya
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> a. Lulusan dari :</td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; "></td>
                             <td class="pl-5 pt-2"> </td>
                             <td class="pl-5 pt-2"> b. Tanggal :</td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; "></td>
                             <td class="pl-5 pt-2"> </td>
                             <td class="pl-5 pt-2"> c. No. STTB :</td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Kegemaran
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> a. Kesenian :</td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; "></td>
                             <td class="pl-5 pt-2"> </td>
                             <td class="pl-5 pt-2"> b. Olahraga :</td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; "></td>
                             <td class="pl-5 pt-2"> </td>
                             <td class="pl-5 pt-2"> c. Organisasi/Lainnya :</td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Pindahan
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> a. Dari Sekolah : </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; "></td>
                             <td class="pl-5 pt-2"> </td>
                             <td class="pl-5 pt-2"> b. Alasan Pindah : </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; "></td>
                             <td class="pl-5 pt-2"> </td>
                             <td class="pl-5 pt-2"> c. Diterima di sekolah di kelas : ...
                                 Tanggal ....</td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">
                                 Alamat
                             </td>
                             <td class="pl-5 pt-2"> : </td>
                             <td class="pl-5 pt-2"> ...</td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; "></td>
                             <td class="pl-5 pt-2"> </td>
                             <td class="pl-5 pt-2"> Kelurahan/Desa ... </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; "></td>
                             <td class="pl-5 pt-2"> </td>
                             <td class="pl-5 pt-2"> Kecamatan ..., Kab/Kota ..., Provinsi
                                 ... </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; "></td>
                             <td class="pl-5 pt-2"> </td>
                             <td class="pl-5 pt-2"> Kode Pos </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">Nomor
                                 Telepon
                             </td>
                             <td class="pl-5 pt-2"> :</td>
                             <td class="pl-5 pt-2"> ... </td>
                         </tr>
                         <tr>
                             <td class="pr-5 pt-2" style="font-weight: bold; ">Nomor HP
                             </td>
                             <td class="pl-5 pt-2"> :</td>
                             <td class="pl-5 pt-2"> ... </td>
                         </tr>
                     </table>
                 </div>
                 <!-- /.card-body -->
             </div>
             <!-- /.card -->
         </div>
     </div>