{{-- Keterangan Orang tua --}}
<div class=" row">
    <div class="col-md-12 ">
        <div class="card card-light">
            <div class="card-header">
                <h3 class="card-title">KETERANGAN ORANG TUA</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table>
                    {{-- <h6 >A. AYAH</h6> --}}
                    <tr>
                        <td class="pr-5 " style="font-weight: bold; ">
                            Nama Ayah
                        </td>
                        <td class="pl-5 "> : </td>
                        <td class="pl-5 "> 12345678 </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Tempat, Tanggal Lahir
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Agama
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Kewarganegaraan
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Suku
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Pendidikan
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Pekerjaan
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Kewarganegaraan
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Penghasilan/bulan
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Alamat
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Nama Ibu
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> 12345678 </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Tempat, Tanggal Lahir
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Agama
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Kewarganegaraan
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Suku
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Pendidikan
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Pekerjaan
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Kewarganegaraan
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Penghasilan/bulan
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Alamat
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>
</div>

{{-- Keterangan wali--}}
<div class=" row">
    <div class="col-md-12 ">
        <div class="card card-light">
            <div class="card-header">
                <h3 class="card-title">KETERANGAN WALI</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table>
                    {{-- <h6 >A. AYAH</h6> --}}
                    <tr>
                        <td class="pr-5 " style="font-weight: bold; ">
                            Nama Ayah
                        </td>
                        <td class="pl-5 "> : </td>
                        <td class="pl-5 "> 12345678 </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Hubungan dengan siswa
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Alamat
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Nomor Telepon Rumah
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                    <tr>
                        <td class="pr-5 pt-2" style="font-weight: bold; ">
                            Nomor HP
                        </td>
                        <td class="pl-5 pt-2"> : </td>
                        <td class="pl-5 pt-2"> ... </td>
                    </tr>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>
</div>